{% extends 'base.html' %} 

{% block page_title %}About Us{% endblock %} 

{% block content %}
<main>
    <div class="container">
        <div class="row d-flex content-bubble">
            <div class="coffset-0 col-12 offset-md-2 col-md-8 pt-5 text-center">
                <h2>About Us</h2>
            </div>
            <div class="offset-0 col-12 offset-md-2 col-md-8 py-5">
                <p>BarTender is Galway's premier cocktail bar, bringing together the classic cocktail club atmosphere with the best mixologists to produce an unparalleled experience for our customers.</p>
                <p>In response to the current COVID-19 pandemic, BarTender has launched this website to enable our customers to pre-book their seats and enjoy a completely contactless experience with us.</p>
                <p>Please book a table for you and your group on our booking request page, and we will send you a confirmation with all the details you need. </p>
                <p>Once seated, explore our cocktail and drinks menu and place your order. Sit back and relax as our expert mixologists prepare your order and deliver your exquisite cocktails directly to your table.</p>
                <p>If you have any questions or would like to leave us any feedback, please message us via our contact page.</p>
                <p>We look forward to welcoming you to BarTender soon.</p>            
            </div>
        </div>
    </div>
</main>
{% endblock %}