{% extends 'base.html' %} 

{% block page_title %}About Us{% endblock %} 

{% block content %}
<main>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <h2>
                    About Us
                </h2>
            </div>
        </div>
        <div class="row content-bubble">
            <div class="offset-0 col-12 offset-md-2 col-md-8">
                <p>BarTender is Galways premier cocktail bar. BarTender brings together the a classic cocktail club atmosphere and the best mixologist to produce an unparallelled experience</p>
                <p>With the current COVID-19 pandemic BarTender has lauched this website as a way to book a seat in our bar and provide a completely contactless experience.</p>
                <p>Please use this site to make a booking request so that we can allocate you a seat for you or your group. Once at the bar you can then use this site to look through our menu, choose your drinks and then order and pay.</p>
                <p>This allows you to limit the surfaces you are in contact with as well as the number of our staff members you have to be in contact with.</p>
                <p>We hope you enjoy using the BarTender website. If yuou have an suggestions on how to improve the site please let us know through our contact page.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}