{% extends 'base.html' %} 
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block page_title %}Contact{% endblock %} 
{% block head_js %}
    <!--JSEmail-->
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
    <script >
        (function(){
            emailjs.init("{{ emailjs_user }}");
        })();
    </script>
{% endblock head_js %}

{% block content %}
<main>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <h2>
                    Contact Form
                </h2>
            </div>
        </div>
        <div class="row content-bubble">
            <div class="offset-0 col-12 offset-md-2 col-md-8">
                <!--Contract Form-->
                <div>
                    <p>If you have a question for us let us know here!</p>
                    <form id="myForm" onsubmit="return sendMail(this);">
                        {% csrf_token %}
                        {{ contact_form | as_bootstrap}}
                        <div class="row text-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block contact_js %}
    <script src="{% static 'js/sendEmail.js' %}"></script>
{% endblock contact_js %}