{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Reset Password{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="row content-bubble">
            <div class="col">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-10 text-center">
                        <h2>Password Reset</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-md-2 col-md-8">
                        <form method="POST">
                            <p>Please enter your email address</p>

                            {% csrf_token %}

                            {{ form |as_bootstrap }}    
                            <p>
                                <button type="submit" class="btn-sm btn-primary">Reset Password</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
