{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Password Reset{% endblock %}

{% block page_heading %}Reset Password{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8">
        <form method="POST" action="">
            <p>Enter your new password below:</p>
            {% csrf_token %}
            {{ form |as_bootstrap }}   
            <p>
            <button type="submit" class="btn-sm btn-primary">Reset Password</button>
            </p>
        </form>
    </div>
</div>
{% endblock %} 