{% extends 'base.html' %}

{% block page_title %}Home{% endblock %}

{% block page_heading %}Welcome to BarTender{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        {% if user.is_authenticated %}
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <a href="{% url 'view_cart' %}" class="btn btn-home rounded px-0">Your Cart</a>
                </div>
                <div class="col-6">
                    <a href="{% url 'products' %}" class="btn btn-home rounded px-0">Drinks</a>
                </div>
            </div>
        {% else %}
            <div class="row d-flex justify-content-center">
                <div class="col-6">
                    <a href="{% url 'login' %}" class="btn btn-home rounded px-0">Sign In</a>
                </div>
                <div class="col-6">
                    <a href="{% url 'products' %}" class="btn btn-home rounded px-0">Drinks</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}